table{
    border: 2px solid grey;
    font-size: 9px;
}
tbody{
     /* border: 2px solid red; */
}
th{
    /* border: 2px solid blueviolet; */
}
td{
    /* border: 2px solid black; */
}
tr{
    border: 2px solid orange;
}
